@model HeatEnergyConsumption.Models.Organization

@{
    ViewData["Title"] = "Удаление организации";
}

<div class="limiter-operation-form">
    <div class="container-title">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="container-operation-form">
        <div class="operation-form">
            <dl class="delete-wrapper">
                <dt class="delete-block-title">
                    @Html.DisplayNameFor(model => model.Name):
                </dt>
                <dd class="delete-block-value">
                    @Html.DisplayFor(model => model.Name).
                </dd>
            </dl>
            <dl class="delete-wrapper">
                <dt class="delete-block-title">
                    @Html.DisplayNameFor(model => model.OwnershipForm):
                </dt>
                <dd class="delete-block-value">
                    @Html.DisplayFor(model => model.OwnershipForm.Name).
                </dd>
            </dl>
            <dl class="delete-wrapper">
                <dt class="delete-block-title">
                    @Html.DisplayNameFor(model => model.Address):
                </dt>
                <dd class="delete-block-value">
                    @Html.DisplayFor(model => model.Address).
                </dd>
            </dl>
            <dl class="delete-wrapper">
                <dt class="delete-block-title">
                    @Html.DisplayNameFor(model => model.Manager):
                </dt>
                <dd class="delete-block-value">
                    @{
                        string manager = Model.Manager != null ? Model.Manager.Surname : "";
                    }
                    @Html.DisplayFor(model => manager).
                </dd>
            </dl>

            <div class="operation-and-return-container-btn">
                <form class="delete-form" asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input class="delete-btn" type="submit" value="Удалить" />
                </form>
                <a class="return-btn" asp-action="Index">Вернуться к таблице</a>
            </div>
        </div>
    </div>
</div>