@model HeatEnergyConsumption.Models.ChiefPowerEngineer

@{
    ViewData["Title"] = "Удаление главного энергетика";
}

<div class="limiter-operation-form">
    <div class="container-title">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="container-operation-form">
        <div class="operation-form">
            <dl class="delete-wrapper">
                <dt class="delete-block-title">
                    @Html.DisplayNameFor(model => model.Name):
                </dt>
                <dd class="delete-block-value">
                    @Html.DisplayFor(model => model.Name).
                </dd>
            </dl>
            <dl class="delete-wrapper">
                <dt class="delete-block-title">
                    @Html.DisplayNameFor(model => model.Surname):
                </dt>
                <dd class="delete-block-value">
                    @Html.DisplayFor(model => model.Surname).
                </dd>
            </dl>
            <dl class="delete-wrapper">
                <dt class="delete-block-title">
                    @Html.DisplayNameFor(model => model.MiddleName):
                </dt>
                <dd class="delete-block-value">
                    @Html.DisplayFor(model => model.MiddleName).
                </dd>
            </dl>
            <dl class="delete-wrapper">
                <dt class="delete-block-title">
                    @Html.DisplayNameFor(model => model.Organization):
                </dt>
                <dd class="delete-block-value">
                    @Html.DisplayFor(model => model.Organization.Name).
                </dd>
            </dl>
            <dl class="delete-wrapper">
                <dt class="delete-block-title">
                    @Html.DisplayNameFor(model => model.PhoneNumber):
                </dt>
                <dd class="delete-block-value">
                    @Html.DisplayFor(model => model.PhoneNumber).
                </dd>
            </dl>

            <div class="operation-and-return-container-btn">
                <form class="delete-form" asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input class="delete-btn" type="submit" value="Удалить" />
                </form>
                <a class="return-btn" asp-action="Index">Вернуться к таблице</a>
            </div>
        </div>
    </div>
</div>